# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [ ]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [21]:
#ans
s  = pd.DataFrame([{'Apples':'30','Bananas':'21'}])
print(s)
st  = pd.DataFrame([['35','41'],['21','34']],index =['2017 Sales','2018 Sales'],columns=['Apples','Bananas'])
print(st)

  Apples Bananas
0     30      21
           Apples Bananas
2017 Sales     35      41
2018 Sales     21      34

In [3]:
'''
Your Code
'''

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [68]:
##Columns: [] Index: []
import pandas as pd
lst = {'city':['Austin','Dallas','Austin','Dallas'],'visitor':[139,237,326,456],'weekday':['Sun','Sun','Mon','Mon']}
df = pd.DataFrame(lst)

print(df)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon
Mean of Column X:
visitor    289.5
dtype: float64

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

Sun 188.0
Mon 297.5

In [77]:
#mean
Sun = df.loc[df['weekday']=='Sun'].visitor.mean()
print(Sun)
Mon = df.loc[df['weekday']=='Mon'].visitor.mean()
print(Mon)

188.0
391.0