# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [25]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [26]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [27]:
#計算每個不同種類 animal 的 age 的平均數
for i in set(df['animal']):
    print(i,":",df[df['animal']==i]['age'].mean())
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(by=['age','visits'],ascending=(True,False))
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df["priority"]=df["priority"].replace(['yes','no'],[True,False])
print(df)

snake : 2.5
cat : 2.5
dog : 5.0
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [2]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.982822  0.112660  0.392734
1  0.570239  0.710517  0.426349
2  0.462207  0.302135  0.206684
3  0.564952  0.830318  0.885054
4  0.934203  0.286143  0.654465

In [12]:
#欄平均
df.mean(axis=0)
print(df - df.mean(axis=0))

          0         1         2
0  0.279937 -0.335695 -0.120323
1 -0.132646  0.262163 -0.086708
2 -0.240677 -0.146220 -0.306373
3 -0.137932  0.381964  0.371996
4  0.231319 -0.162212  0.141408

In [14]:
#資料平均
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.486750 -0.383412 -0.103338
1  0.001204  0.141482 -0.142686
2  0.138532 -0.021540 -0.116992
3 -0.195156  0.070210  0.124946
4  0.309266 -0.338794  0.029528

In [31]:
'''
Your Code
'''

          0         1         2
0  0.130010  0.316253  0.158839
1  0.148624 -0.524442  0.117382
2 -0.085726  0.073242 -0.620083
3  0.129444  0.056036  0.155504
4 -0.322352  0.078911  0.188358

In [32]:
'''
Your Code
'''

          0         1         2
0 -0.068501  0.014680  0.053821
1  0.237960 -0.538169  0.300209
2  0.128320  0.184225 -0.312545
3  0.018972 -0.157497  0.138525
4 -0.300801 -0.002600  0.303401

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [33]:
df

          0         1         2
0  0.763566  0.846747  0.885887
1  0.782180  0.006052  0.844430
2  0.547830  0.603736  0.106965
3  0.763000  0.586530  0.882552
4  0.311204  0.609405  0.915406

In [17]:
#1) 哪一比的資料總合最小 
print(df.sum(axis=1).argmin())
#2) 哪一欄位的資料總合最小
print(df.sum(axis=0).argmin())

2
1

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.

In [35]:
'''
Your Code
'''

/Users/wei/.virtualenvs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

0